# Java / Gradle
.gradle/
build/
bin/
out/
.lock
.properties

# Android
gen/
local.properties
.externalNativeBuild
.cxx/
*.apk
*.ap_
*.dex

# iOS
ios/build/
ios/robovm/build/
*.class
.mtj.tmp/

# IDE Metadata (VS Code)
.vscode/

# IDE Metadata (IntelliJ)
.idea/
*.iml
*.iws
*.ipr
out/

# IDE Metadata (Eclipse)
.settings/
.classpath
.project
.metadata/

# OS Specific
.DS_Store
Thumbs.db

# GWT (HTML)
html/gwt-unitCache/
html/war/
html/webapp/WEB-INF/deploy/
html/webapp/WEB-INF/lib/